@page "/kontakt"
@model ForeverBloom.WebUI.RazorPages.Pages.ContactPageModel

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="display-4 mb-4">Kontakt</h1>
      <p class="lead">Skontaktuj się z nami - chętnie odpowiemy na wszystkie pytania.</p>

      <div class="row mt-4">
        <div class="col-md-6">
          <h4>Dane kontaktowe</h4>
          <p><strong>Email:</strong> kontakt@foreverbloomstudio.pl</p>
          <p><strong>Numer telefonu:</strong> +48 721 936 423</p>
          <p>Możesz się z nami skontaktować również poprzez prywatną wiadomość na <strong>Facebooku</strong> lub
            <strong>Instagramie</strong>. Odnośniki znajdziesz w stopce strony.</p>
        </div>
        <div class="col-md-6">
          <h4>Adres</h4>
          <p>Forever Bloom Studio<br>
            49-300 Brzeg</p>
        </div>
      </div>
    </div>
  </div>
</div>
