@page "/polityka-prywatnosci"
@model ForeverBloom.WebUI.RazorPages.Pages.PrivacyPageModel

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <article>
                <h1 class="text-center">Polityka prywatności</h1>
                <p class="text-center"><em>Ostatnia aktualizacja: 17 września 2025</em></p>
                <p>Poniższa Polityka prywatności określa <strong>zasady zapisywania i uzyskiwania dostępu do danych na
                        Urządzeniach Użytkowników</strong> korzystających z Serwisu do celów świadczenia usług drogą
                    elektroniczną przez Administratora oraz <strong>zasady gromadzenia i przetwarzania danych osobowych
                        Użytkowników</strong>, które zostały podane przez nich osobiście i dobrowolnie za pośrednictwem
                    narzędzi dostępnych w Serwisie.</p>

                <h2 class="text-center">§1 Definicje</h2>
                <ul>
                    <li><strong>Serwis</strong> – serwis internetowy "Forever Bloom Studio" działający pod adresem
                        https://foreverbloomstudio.pl.
                    </li>
                    <li><strong>Serwis zewnętrzny</strong> – serwisy internetowe partnerów, usługodawców lub
                        usługobiorców współpracujących z Administratorem.
                    </li>
                    <li><strong>Administrator Serwisu i Danych (Administrator)</strong> – osoba fizyczna Anna
                        Kaczmarczyk zamieszkała w Brzegu, świadcząca usługi drogą elektroniczną za pośrednictwem
                        Serwisu.
                    </li>
                    <li><strong>Użytkownik</strong> – osoba fizyczna, dla której Administrator świadczy usługi drogą
                        elektroniczną za pośrednictwem Serwisu.
                    </li>
                    <li><strong>Urządzenie</strong> – elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem
                        którego Użytkownik uzyskuje dostęp do Serwisu.
                    </li>
                    <li><strong>Cookies (ciasteczka)</strong> – dane tekstowe gromadzone w formie plików zamieszczanych
                        na Urządzeniu Użytkownika.
                    </li>
                    <li><strong>RODO</strong> – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
                        kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i
                        w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne
                        rozporządzenie o ochronie danych).
                    </li>
                    <li><strong>Dane osobowe</strong> – informacje o zidentyfikowanej lub możliwej do zidentyfikowania
                        osobie fizycznej („osobie, której dane dotyczą”). Możliwa do zidentyfikowania osoba fizyczna to
                        osoba, którą można bezpośrednio lub pośrednio zidentyfikować, w szczególności na podstawie
                        identyfikatora takiego jak imię i nazwisko, numer identyfikacyjny, dane o lokalizacji,
                        identyfikator internetowy lub jeden bądź kilka szczególnych czynników określających fizyczną,
                        fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną tożsamość osoby
                        fizycznej.
                    </li>
                    <li><strong>Przetwarzanie</strong> – operacja lub zestaw operacji wykonywanych na danych osobowych
                        lub zestawach danych osobowych w sposób zautomatyzowany lub niezautomatyzowany, taka jak
                        zbieranie, utrwalanie, organizowanie, porządkowanie, przechowywanie, adaptowanie lub
                        modyfikowanie, pobieranie, przeglądanie, wykorzystywanie, ujawnianie poprzez przesłanie,
                        rozpowszechnianie lub innego rodzaju udostępnianie, dopasowywanie lub łączenie, ograniczanie,
                        usuwanie lub niszczenie.
                    </li>
                    <li><strong>Ograniczenie przetwarzania</strong> – oznaczenie przechowywanych danych osobowych w celu
                        ograniczenia ich przyszłego przetwarzania.
                    </li>
                    <li><strong>Profilowanie</strong> – dowolna forma zautomatyzowanego przetwarzania danych osobowych,
                        które polega na wykorzystaniu danych osobowych do oceny niektórych czynników osobowych osoby
                        fizycznej, w szczególności do analizy lub prognozy aspektów dotyczących efektów pracy tej osoby
                        fizycznej, jej sytuacji ekonomicznej, zdrowia, osobistych preferencji, zainteresowań,
                        wiarygodności, zachowania, lokalizacji lub przemieszczania się.
                    </li>
                    <li><strong>Zgoda</strong> – dobrowolne, konkretne, świadome i jednoznaczne okazanie woli, którym
                        osoba, której dane dotyczą, w formie oświadczenia lub wyraźnego działania potwierdzającego,
                        przyzwala na przetwarzanie dotyczących jej danych osobowych.
                    </li>
                    <li><strong>Naruszenie ochrony danych osobowych</strong> – naruszenie bezpieczeństwa prowadzące do
                        przypadkowego lub niezgodnego z prawem zniszczenia, utracenia, zmodyfikowania, nieuprawnionego
                        ujawnienia lub nieuprawnionego dostępu do danych osobowych przesyłanych, przechowywanych lub w
                        inny sposób przetwarzanych.
                    </li>
                    <li><strong>Pseudonimizacja</strong> – przetworzenie danych osobowych w taki sposób, by nie można
                        ich było już przypisać konkretnej osobie, której dane dotyczą, bez użycia dodatkowych
                        informacji, pod warunkiem że takie dodatkowe informacje są przechowywane osobno i są objęte
                        środkami technicznymi i organizacyjnymi uniemożliwiającymi ich przypisanie zidentyfikowanej lub
                        możliwej do zidentyfikowania osobie fizycznej.
                    </li>
                    <li><strong>Anonimizacja</strong> – nieodwracalny proces operacji na danych, który niszczy lub
                        nadpisuje dane osobowe, uniemożliwiając identyfikację lub powiązanie danego rekordu z konkretnym
                        użytkownikiem lub osobą fizyczną.
                    </li>
                </ul>

                <h2 class="text-center">§2 Inspektor Ochrony Danych</h2>
                <p>Na podstawie art. 37 RODO, Administrator nie powołał Inspektora Ochrony Danych. W sprawach
                    dotyczących przetwarzania danych, w tym danych osobowych, należy kontaktować się bezpośrednio z
                    Administratorem.</p>

                <h2 class="text-center">§3 Rodzaje Plików cookies</h2>
                <ul>
                    <li><strong>Cookies wewnętrzne</strong> – pliki zamieszczane i odczytywane z Urządzenia Użytkownika
                        przez system teleinformatyczny Serwisu.
                    </li>
                    <li><strong>Cookies zewnętrzne</strong> – pliki zamieszczane i odczytywane z Urządzenia Użytkownika
                        przez systemy teleinformatyczne Serwisów zewnętrznych.
                    </li>
                    <li><strong>Cookies sesyjne</strong> – pliki zamieszczane i odczytywane z Urządzenia Użytkownika
                        przez Serwis podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z
                        Urządzenia Użytkownika.
                    </li>
                    <li><strong>Cookies trwałe</strong> – pliki zamieszczane i odczytywane z Urządzenia Użytkownika
                        przez Serwis lub Serwisy zewnętrzne do momentu ich ręcznego usunięcia. Pliki nie są usuwane
                        automatycznie po zakończeniu sesji Urządzenia, chyba że konfiguracja Urządzenia Użytkownika jest
                        ustawiona na tryb usuwania plików cookie po zakończeniu sesji.
                    </li>
                </ul>

                <h2 class="text-center">§4 Bezpieczeństwo składowania danych</h2>
                <ul>
                    <li><strong>Mechanizmy składowania i odczytu plików cookie</strong> – Mechanizmy składowania,
                        odczytu i wymiany danych pomiędzy plikami cookies a Urządzeniem Użytkownika są realizowane
                        poprzez wbudowane mechanizmy przeglądarek internetowych i nie pozwalają na pobieranie innych
                        danych z Urządzenia Użytkownika ani danych innych witryn internetowych, które odwiedzał
                        Użytkownik.
                    </li>
                    <li><strong>Cookie wewnętrzne</strong> – Zastosowane przez Administratora pliki cookie są bezpieczne
                        dla Urządzeń Użytkowników i nie zawierają skryptów, treści ani informacji mogących zagrażać
                        bezpieczeństwu danych osobowych lub bezpieczeństwu Urządzenia.
                    </li>
                    <li><strong>Cookie zewnętrzne</strong> – Administrator dokonuje wszelkich możliwych działań w celu
                        weryfikacji i doboru partnerów serwisu w kontekście bezpieczeństwa Użytkowników. Administrator
                        do współpracy dobiera znanych, dużych partnerów o globalnym zaufaniu społecznym. Nie posiada
                        jednak pełnej kontroli nad zawartością plików cookie pochodzących od zewnętrznych partnerów. Za
                        bezpieczeństwo plików cookie, ich zawartość oraz zgodne z licencją wykorzystanie, Administrator
                        nie ponosi odpowiedzialności w najszerszym zakresie dozwolonym przez prawo. Lista partnerów
                        znajduje się w dalszej części Polityki prywatności.
                    </li>
                    <li><strong>Kontrola plików cookie</strong>
                        <ul>
                            <li>Użytkownik może w dowolnym momencie samodzielnie zmienić ustawienia dotyczące
                                zapisywania, usuwania oraz dostępu do danych zapisanych w plikach cookies.
                            </li>
                            <li>Informacje o sposobie wyłączenia plików cookie w najpopularniejszych przeglądarkach
                                komputerowych dostępne są na stronie: <a rel="external"
                                                                         href="https://nety.pl/jak-wylaczyc-pliki-cookie/">jak
                                    wyłączyć cookie</a> lub u jednego ze wskazanych dostawców:
                                <ul>
                                    <li><a rel="nofollow external"
                                           href="https://support.google.com/accounts/answer/61416?hl=pl">Zarządzanie
                                            plikami cookies w przeglądarce <strong>Chrome</strong></a></li>
                                    <li><a rel="nofollow external"
                                           href="https://help.opera.com/pl/latest/web-preferences/">Zarządzanie plikami
                                            cookies w przeglądarce <strong>Opera</strong></a></li>
                                    <li><a rel="nofollow external"
                                           href="https://support.mozilla.org/pl/kb/blokowanie-ciasteczek">Zarządzanie
                                            plikami cookies w przeglądarce <strong>Firefox</strong></a></li>
                                    <li><a rel="nofollow external"
                                           href="https://support.microsoft.com/pl-pl/help/4027947/microsoft-edge-delete-cookies">Zarządzanie
                                            plikami cookies w przeglądarce <strong>Edge</strong></a></li>
                                    <li><a rel="nofollow external"
                                           href="https://support.apple.com/pl-pl/guide/safari/sfri11471/mac">Zarządzanie
                                            plikami cookies w przeglądarce <strong>Safari</strong></a></li>
                                    <li><a rel="nofollow external"
                                           href="https://windows.microsoft.com/pl-pl/internet-explorer/delete-manage-cookies#ie=ie-11">Zarządzanie
                                            plikami cookies w przeglądarce <strong>Internet Explorer 11</strong></a>
                                    </li>
                                </ul>
                            </li>
                            <li>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki cookie,
                                korzystając z narzędzi Urządzenia, za pośrednictwem którego korzysta z usług Serwisu.
                            </li>
                            <li>W celu zarządzania zgodami na pliki cookie, Serwis wykorzystuje baner cookies. Mogą
                                Państwo w każdej chwili zmienić lub wycofać swoją zgodę na wykorzystywanie plików cookie
                                poprzez link "Zarządzaj zgodą", dostępny w stopce strony.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Zagrożenia po stronie Użytkownika</strong> – Administrator stosuje wszelkie możliwe
                        środki techniczne w celu zapewnienia bezpieczeństwa danych umieszczanych w plikach cookie.
                        Należy jednak pamiętać, że zapewnienie bezpieczeństwa tych danych zależy od obu stron, w tym od
                        działalności Użytkownika. Administrator nie ponosi odpowiedzialności za przechwycenie tych
                        danych, podszycie się pod sesję Użytkownika lub ich usunięcie w wyniku świadomej lub
                        nieświadomej działalności Użytkownika, a także w wyniku infekcji Urządzenia złośliwym
                        oprogramowaniem (np. wirusami, końmi trojańskimi). W celu ochrony przed tymi zagrożeniami
                        Użytkownicy powinni stosować się do <a rel="external"
                                                               href="https://nety.pl/cyberbezpieczenstwo/">zasad
                            cyberbezpieczeństwa</a>.
                    </li>
                    <li><strong>Przechowywanie danych osobowych</strong> – Administrator zapewnia, że dokonuje wszelkich
                        starań, by przetwarzane dane osobowe wprowadzone dobrowolnie przez Użytkowników były bezpieczne,
                        dostęp do nich był ograniczony i realizowany zgodnie z ich przeznaczeniem. Administrator
                        zapewnia także, że stosuje odpowiednie zabezpieczenia fizyczne i organizacyjne w celu ochrony
                        danych przed ich utratą.
                    </li>
                </ul>

                <h2 class="text-center">§5 Cele, do których wykorzystywane są pliki cookie</h2>
                <ul id="cele">
                    <li>Usprawnienie i ułatwienie dostępu do Serwisu</li>
                    <li>Prowadzenie statystyk (użytkowników, liczby odwiedzin, rodzajów urządzeń itp.)</li>
                </ul>

                <h2 class="text-center">§6 Cele przetwarzania danych osobowych</h2>
                <p>Dane osobowe dobrowolnie podane przez Użytkowników są przetwarzane w następujących celach:</p>
                <ul>
                    <li><strong>Realizacja usług elektronicznych</strong>, w tym:
                        <ul>
                            <li>zapewnienie prawidłowego działania i wyświetlania Serwisu (art. 6 ust. 1 lit. f RODO –
                                prawnie uzasadniony interes Administratora),
                            </li>
                            <li>prowadzenie korespondencji i obsługa zapytań (art. 6 ust. 1 lit. f RODO, a w przypadku
                                działań zmierzających do zawarcia umowy – art. 6 ust. 1 lit. b RODO),
                            </li>
                            <li>zapewnienie bezpieczeństwa i zapobieganie nadużyciom, np. poprzez analizę logów serwera
                                (art. 6 ust. 1 lit. f RODO).
                            </li>
                        </ul>
                    </li>
                    <li><strong>Komunikacja Administratora z Użytkownikami</strong> w sprawach związanych z Serwisem
                        oraz ochroną danych.
                    </li>
                    <li><strong>Realizacja prawnie uzasadnionych interesów Administratora.</strong></li>
                </ul>
                <p>Dane o Użytkownikach gromadzone anonimowo i automatycznie są przetwarzane w następujących celach:</p>
                <ul>
                    <li>Prowadzenie statystyk.</li>
                    <li>Realizacja prawnie uzasadnionych interesów Administratora.</li>
                </ul>

                <h2 class="text-center">§7 Pliki cookies Serwisów zewnętrznych</h2>
                <p id="zewinfo">Administrator w Serwisie wykorzystuje skrypty JavaScript i komponenty webowe partnerów,
                    którzy mogą umieszczać własne pliki cookie na Urządzeniu Użytkownika. W ustawieniach swojej
                    przeglądarki mogą Państwo samodzielnie decydować o plikach cookie, które mogą być używane przez
                    poszczególne witryny. Poniżej znajduje się lista partnerów lub ich usług zaimplementowanych w
                    Serwisie, które mogą umieszczać pliki cookie:</p>
                <ul id="zewnetrzne">
                    <li><strong>Prowadzenie statystyk:</strong>
                        <ul>
                            <li><a rel="nofollow external" href="https://policies.google.com/privacy?hl=pl">Google
                                    Analytics</a></li>
                        </ul>
                    </li>
                    <li><strong>Monitorowanie i analiza błędów:</strong>
                        <ul>
                            <li><a rel="nofollow external" href="https://sentry.io/privacy/">Sentry</a></li>
                        </ul>
                    </li>
                </ul>
                <p>Usługi podmiotów trzecich mają własne polityki prywatności i zasady cookies. Dobieramy dostawców z
                    należytą starannością i zawieramy odpowiednie umowy (w tym powierzenia przetwarzania danych), jednak
                    ich praktyki mogą się zmieniać – aktualne informacje znajdują się w politykach tych dostawców.</p>

                <h2 class="text-center">§8 Rodzaje gromadzonych danych</h2>
                <p>Serwis gromadzi dane o Użytkownikach. Część danych jest gromadzona automatycznie i anonimowo, a część
                    stanowią dane osobowe podane dobrowolnie przez Użytkowników w ramach kontaktu z Administratorem.</p>
                <p><strong>Anonimowe dane gromadzone automatycznie:</strong></p>
                <ul>
                    <li>Adres IP (anonimizowany przed przetwarzaniem statystycznym w Google Analytics)</li>
                    <li>Typ przeglądarki</li>
                    <li>Rozdzielczość ekranu</li>
                    <li>Przybliżona lokalizacja</li>
                    <li>Otwierane podstrony serwisu</li>
                    <li>Czas spędzony na podstronie</li>
                    <li>Rodzaj systemu operacyjnego</li>
                    <li>Adres poprzedniej podstrony</li>
                    <li>Adres strony odsyłającej</li>
                    <li>Język przeglądarki</li>
                    <li>Prędkość łącza internetowego</li>
                    <li>Dostawca usług internetowych</li>
                </ul>
                <p><em>Uwaga:</em> w logach serwera (np. Nginx) może być przetwarzany adres IP jako dane osobowe na
                    podstawie prawnie uzasadnionego interesu Administratora (zapewnienie bezpieczeństwa i ciągłości
                    działania Serwisu).</p>

                <h2 class="text-center">§9 Dostęp do danych osobowych przez podmioty trzecie</h2>
                <p>Co do zasady, jedynym odbiorcą danych osobowych podawanych przez Użytkowników jest Administrator.
                    Dane gromadzone w ramach świadczonych usług nie są przekazywane ani odsprzedawane podmiotom
                    trzecim.</p>
                <p>Dostęp do danych na podstawie umowy powierzenia przetwarzania danych mogą posiadać podmioty
                    odpowiedzialne za utrzymanie infrastruktury i usług niezbędnych do prowadzenia serwisu, tj.:</p>
                <ul>
                    <li>Firmy hostingowe, świadczące usługi hostingu lub usługi pokrewne dla Administratora.</li>
                    <li><strong>Google LLC</strong> – w celu analizy statystyk Serwisu (Google Analytics).</li>
                    <li><strong>Functional Software, Inc.</strong> – w celu analizy błędów i monitorowania wydajności
                        Serwisu (Sentry).
                    </li>
                </ul>
                <p><strong>Powierzenie przetwarzania danych – Usługi Hostingu, VPS lub Serwerów Dedykowanych</strong>
                </p>
                <p>Administrator w celu prowadzenia serwisu korzysta z usług zewnętrznego dostawcy hostingu – <strong><a
                            rel="nofollow external" href="https://www.hetzner.com/legal/privacy-policy">Hetzner Online
                            GmbH</a></strong>. Wszelkie dane gromadzone i przetwarzane w Serwisie są przechowywane i
                    przetwarzane w infrastrukturze usługodawcy zlokalizowanej w granicach Unii Europejskiej. Istnieje
                    możliwość dostępu do danych na skutek prac serwisowych realizowanych przez personel usługodawcy.
                    Dostęp do tych danych reguluje umowa zawarta pomiędzy Administratorem a Usługodawcą.</p>

                <h2 class="text-center">§10 Sposób przetwarzania danych osobowych</h2>
                <p><strong>Dane osobowe podane dobrowolnie przez Użytkowników:</strong></p>
                <ul>
                    <li>Dane osobowe co do zasady nie są przekazywane poza UE/EOG. Jeżeli jest to niezbędne z uwagi na
                        korzystanie z usług dostawców przetwarzających dane poza EOG (np. Google, Sentry), transfer
                        odbywa się na podstawie standardowych klauzul umownych (SCC) zatwierdzonych przez Komisję
                        Europejską oraz z zastosowaniem odpowiednich środków zabezpieczających.
                    </li>
                    <li>Dane osobowe nie będą wykorzystywane do zautomatyzowanego podejmowania decyzji (profilowania).
                    </li>
                    <li>Dane osobowe nie będą odsprzedawane podmiotom trzecim.</li>
                </ul>
                <p><strong>Dane anonimowe (bez danych osobowych) gromadzone automatycznie:</strong></p>
                <ul>
                    <li>Dane anonimowe nie będą wykorzystywane do zautomatyzowanego podejmowania decyzji
                        (profilowania).
                    </li>
                    <li>Dane anonimowe nie będą odsprzedawane podmiotom trzecim.</li>
                </ul>

                <h2 class="text-center">§11 Podstawy prawne przetwarzania danych osobowych</h2>
                <p>Serwis gromadzi i przetwarza dane Użytkowników na podstawie:</p>
                <ul>
                    <li>Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w
                        sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
                        swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o
                        ochronie danych):
                        <ul>
                            <li>art. 6 ust. 1 lit. a <small>(zgoda osoby, której dane dotyczą)</small></li>
                            <li>art. 6 ust. 1 lit. b <small>(niezbędność do wykonania umowy)</small></li>
                            <li>art. 6 ust. 1 lit. f <small>(prawnie uzasadnione interesy administratora)</small></li>
                        </ul>
                    </li>
                    <li>Ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz.U. 2018 poz. 1000).</li>
                    <li>Ustawy z dnia 16 lipca 2004 r. Prawo telekomunikacyjne (Dz.U. 2004 nr 171 poz. 1800).</li>
                    <li>Ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. 1994 Nr 24 poz.
                        83).
                    </li>
                </ul>
                <p>Analityka (Google Analytics) uruchamiana jest wyłącznie na podstawie uprzedniej zgody wyrażonej w
                    banerze cookies.</p>

                <h2 class="text-center">§12 Okres przetwarzania danych osobowych</h2>
                <p><strong>Dane osobowe podane dobrowolnie przez Użytkowników:</strong></p>
                <p>Co do zasady, dane osobowe są przechowywane wyłącznie przez okres świadczenia usługi w ramach
                    Serwisu. Są one usuwane lub anonimizowane w terminie do 30 dni od zakończenia świadczenia usług (np.
                    zakończenie korespondencji). Wyjątek stanowi sytuacja, która wymaga zabezpieczenia prawnie
                    uzasadnionych celów dalszego przetwarzania tych danych przez Administratora. W takiej sytuacji
                    Administrator będzie przechowywał wskazane dane przez okres do 3 lat od czasu żądania ich usunięcia,
                    w przypadku naruszenia lub podejrzenia naruszenia regulaminu serwisu przez Użytkownika.</p>
                <p><strong>Szczegółowe okresy przechowywania dla poszczególnych rodzajów danych:</strong></p>
                <ul>
                    <li><strong>Logi serwera (dostępowe i błędów):</strong> przechowywane do 30 dni w celach zapewnienia
                        bezpieczeństwa i analizy ewentualnych incydentów.
                    </li>
                    <li><strong>Logi aplikacyjne:</strong> przechowywane do 90 dni w celu monitorowania działania
                        serwisu i diagnozowania problemów.
                    </li>
                    <li><strong>Dane analityczne (zanonimizowane):</strong> przechowywane przez 14 miesięcy w celach
                        statystycznych.
                    </li>
                    <li><strong>Dane o błędach w działaniu aplikacji:</strong> przechowywane do 90 dni w celu poprawy
                        jakości usług.
                    </li>
                </ul>
                <p><strong>Dane anonimowe (bez danych osobowych) gromadzone automatycznie:</strong></p>
                <p>Anonimowe dane statystyczne, niestanowiące danych osobowych, są przechowywane przez Administratora w
                    celu prowadzenia statystyk serwisu przez czas nieokreślony.</p>

                <h2 class="text-center">§13 Prawa Użytkowników związane z przetwarzaniem danych osobowych</h2>
                <p>Użytkownikom przysługują następujące prawa:</p>
                <ul>
                    <li><strong>Prawo dostępu do danych osobowych</strong> – prawo do uzyskania dostępu do swoich danych
                        osobowych.
                    </li>
                    <li><strong>Prawo do sprostowania danych osobowych</strong> – prawo do żądania niezwłocznego
                        sprostowania nieprawidłowych danych lub uzupełnienia niekompletnych danych.
                    </li>
                    <li><strong>Prawo do usunięcia danych osobowych</strong> – prawo do żądania niezwłocznego usunięcia
                        danych osobowych ("prawo do bycia zapomnianym").
                    </li>
                    <li><strong>Prawo do ograniczenia przetwarzania danych osobowych</strong> – prawo do ograniczenia
                        przetwarzania w przypadkach wskazanych w art. 18 RODO.
                    </li>
                    <li><strong>Prawo do przenoszenia danych osobowych</strong> – prawo do otrzymania danych w
                        ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego.
                    </li>
                    <li><strong>Prawo do wniesienia sprzeciwu wobec przetwarzania danych osobowych</strong> – prawo do
                        wniesienia sprzeciwu wobec przetwarzania w przypadkach określonych w art. 21 RODO.
                    </li>
                    <li><strong>Prawo do wycofania zgody</strong> – prawo do wycofania wyrażonej wcześniej zgody w
                        dowolnym momencie. Wycofanie zgody nie wpływa na zgodność z prawem przetwarzania dokonanego
                        przed jej wycofaniem.
                    </li>
                    <li><strong>Prawo do wniesienia skargi</strong> – prawo do wniesienia skargi do organu nadzorczego,
                        którym w Polsce jest Prezes Urzędu Ochrony Danych Osobowych (PUODO).
                    </li>
                </ul>
                <p>Administrator udziela odpowiedzi bez zbędnej zwłoki, nie później niż w terminie 1 miesiąca od
                    otrzymania żądania.</p>

                <h2 class="text-center">§14 Kontakt z Administratorem</h2>
                <p>Z Administratorem można skontaktować się za pośrednictwem poczty elektronicznej:</p>
                <ul>
                    <li><strong>Adres e-mail:</strong> kontakt@foreverbloomstudio.pl</li>
                </ul>

                <h2 class="text-center">§15 Wymagania Serwisu</h2>
                <ul>
                    <li>Ograniczenie zapisu i dostępu do plików cookie na Urządzeniu Użytkownika może spowodować
                        nieprawidłowe działanie niektórych funkcji Serwisu.
                    </li>
                    <li>Administrator nie ponosi odpowiedzialności za nieprawidłowo działające funkcje Serwisu w
                        przypadku, gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików
                        cookie.
                    </li>
                </ul>

                <h2 class="text-center">§16 Dane Dzieci</h2>
                <p>Serwis nie jest przeznaczony dla dzieci poniżej 16. roku życia. Administrator świadomie nie gromadzi
                    danych osobowych dzieci. W przypadku pozyskania informacji, że takie dane zostały zebrane bez zgody
                    opiekunów prawnych, Administrator podejmie kroki w celu ich niezwłocznego usunięcia.</p>

                <h2 class="text-center">§17 Linki zewnętrzne</h2>
                <p>W Serwisie mogą znajdować się odnośniki do witryn zewnętrznych, z którymi Administrator nie
                    współpracuje. Linki te oraz strony lub pliki pod nimi wskazane mogą być niebezpieczne dla Urządzenia
                    lub stanowić zagrożenie dla bezpieczeństwa danych Użytkownika. Administrator nie ponosi
                    odpowiedzialności za zawartość znajdującą się poza Serwisem.</p>

                <h2 class="text-center">§18 Zmiany w Polityce prywatności</h2>
                <ul>
                    <li>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki prywatności bez
                        konieczności informowania Użytkowników w zakresie stosowania i wykorzystywania danych
                        anonimowych lub stosowania plików cookie.
                    </li>
                    <li>Administrator zastrzega sobie prawo do zmiany niniejszej Polityki prywatności w zakresie
                        dotyczącym danych osobowych. Wprowadzone zmiany będą publikowane na tej podstronie Serwisu i
                        wchodzą w życie z chwilą publikacji.
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>
